/* スライドする文字 */
h1 {
    color: #dfe582bc;
    font-size: 80px;
    font-weight: bold;
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    display: inline-block;
  }
  h1:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #333333;
    position: absolute;
    left: -100%;
    bottom: 0;
    transition: 0.4s;
  }
  h1 span {
    display: inline-block;
    margin-left: -100%;
    transition: 0.4s;
    transition-delay: 0.4s;
  }
  h1.slide_on::before {
    left: 0;
  }
  h1.slide_on span {
    margin-left: 0;
  }



.flex {
    display: flex; /*横並び*/
  }
  .flex .image {
    width: 350px; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
  }
  .flex .image img {
    width: 100%;
    height: auto;
  }
  .flex .right {
    margin: 0 0 0 10px;
    padding: 0;
  }
  .flex .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 35px;
    color: #ebe3e3 ;
  }
  .flex .text {
    margin: 20px 0 0;
    padding: 0;
    line-height: 1.7;
    text-align: justify;
    color: #ebe3e3 ;
  }
  
  /* 背景色の設定 */
    body {
        background-color:#8c8c89f8;
        margin: 10px;
        padding: 0;
    }



/* ナビゲータ */
nav{
    text-align: center;
    }
nav ul{
    margin: 0 ;
    padding: 0 ;
    }
nav ul li{
    list-style: none;
    display: inline-block;
    width: 18%;
    min-width: 90px;
    }
nav ul li a{
    text-decoration: none;
    color: #ebe6e6;
    }
nav ul li.current a{
    color: #F33135;
    }
nav ul li a:hover{
    color: #bec35a;
    }


